# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual environments
venv/
venv2/
env/
.env
.venv

# Flask
uploads/
instance/
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large binaries
tesseract_installer.exe
